<h2><%=	t 'devise.registration.edit.page_head' %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('devise.registration.edit.waiting_confirmation', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit t('actions.update') %></div>
<% end %>

<h3><%=	t 'devise.actions.cancel_my_account' %></h3>

<p><%= t 'devise.registration.edit.unhappy' %>
  <%= button_to t('devise.actions.cancel_my_account'), registration_path(resource_name), :data => { :confirm => t('actions.are_you_sure')}, :method => :delete %></p>

<%= link_to t('actions.back'), :back %>
