<h2><%= t 'devise.registration.edit.page_head' %></h2>

<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => {autocomplete: 'off', :class => 'form-horizontal'} do |f| %>
    <% email_hint=if devise_mapping.confirmable? && resource.pending_reconfirmation? then
                    t('devise.registration.edit.waiting_confirmation', email: resource.unconfirmed_email)
                  else
                    ''
                  end %>
    <%= f.input :email, :autofocus => true, hint: email_hint %>
    <%= f.input :password, :autocomplete => false, :hint => "leave blank if you don't want to change it" %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password, :hint => 'we need your current password to confirm your changes' %>

    <div class="form-actions">
      <%= f.button :submit, t('actions.update'), :class => %w{btn btn-primary} %>
      <div class="pull-right">
        <%= link_to t('actions.back'), :back, :class => %w{btn} %>
        <%= link_to t('devise.actions.cancel_my_account'), registration_path(resource_name), :class => %w{btn btn-danger}, :data => {:confirm => t('actions.are_you_sure')}, :method => :delete %>
      </div>
    </div>
<% end %>


