<div class="span7 pull-right">
  <h3><%=	t 'devise.actions.sign_in' %></h3>
  <%= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean, label: false, inline_label: t('actions.remember_me') if devise_mapping.rememberable? %>

      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, t('devise.actions.login') %>
        </div>
      </div>
  <% end %>
</div>
<div class="span4">
  <h2><%= t('hello') %></h2>
  <p><%= t('devise.login.links_presentation') %></p>
  <p><%= render 'devise/shared/links' %></p>
  <p><%= t('devise.login.social_login') %></p>
</div>
