<p><%= t('hello_to_someone',:someone=>@resource.email) %></p>

<p><%= t('devise.mailer.reset_password_instructions.click_below') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.button'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('devise.mailer.reset_password_instructions.paranoid') %></p>
<p><%= t('devise.mailer.reset_password_instructions.paranoid_no_changes') %></p>
